[submodule "detouring"]
	path = detouring
	url = https://github.com/danielga/detouring.git
[submodule "scanning"]
	path = scanning
	url = https://github.com/danielga/scanning.git
[submodule "sourcesdk-minimal"]
	path = sourcesdk-minimal
	url = https://github.com/danielga/sourcesdk-minimal.git
[submodule "premake/premake-export-compile-commands"]
	path = premake/premake-export-compile-commands
url=https://github.com/danielga/premake-export-compile-commands.git